<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
</head>
<body>
    <form action="/process" method="post">
        <h1>Dojo Survey</h1>
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name">
        <div>
            <label for="location">Dojo Location:</label>
            <select name="location">
                <option value="">--SELECT ONE--</option>
                <option value="Miami">Miami</option>
                <option value="Manhattan">Manhattan</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="Atlanta">Atlanta</option>
            </select>
        </div>
        <div class="form-group">
            <label for="language">Favorite Language:</label>
            <select name="language">
                <option value="">--SELECT ONE--</option>
                <option value="Ruby">Ruby</option>
                <option value="Java">Java</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Python">Python</option>
                <option value="C#">C#</option>
            </select>
        </div>
        <div>
            <label for="name">Comment:</label>
            <textarea name="comment"  cols="40" rows="15"></textarea>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>