<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
    <div>
        <h1>Survey Results</h1>
        <p>Name: {{dojo.name}}</p>
        <p>Dojo Location: {{dojo.location}}</p>
        <p>Favorite Language: {{dojo.language}}</p>
        <p>Comment: {{dojo.comment}}</p>
    </div>
</body>
</html>